.work {
  background: #fff;
  padding: 4rem;

  &__head {
    text-align: center;
    margin-bottom: 6rem;

    &--line {
      background: $secondary-color;
      width: 100%;
      height: 2px;
      margin-top: 3rem;
    }
  }

  &__h2 {
    color: #333;
    font-weight: 600;

    span {
      color: $secondary-color;
    }
  }

  &__box {
    display: grid;
    grid-column-gap: 10rem;
    grid-row-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    &--card:hover {
      box-shadow: $card-shadow-hover;
    }

    &--card {
      background: $work-color;
      box-shadow: $card-shadow;
      border-radius: 3px;

      display: flex;
      flex-direction: column;

      @include cardHover;

      img {
        width: 100%;
        height: 20rem;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
  }

  &__link {
    display: block;
    padding: 1.5rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    @include ease;

    i {
      margin-right: 1rem;
    }
  }

  &__link:hover {
    transform: translateY(-0.5rem);
  }
}

.github {
  background: $secondary-color;
  color: #fff;
}

.live {
  background: $work-color;
  color: #333;
}
