@mixin ease {
  transition: all 0.3s ease;
}

@mixin easeSlow {
  transition: all 0.6s ease;
}

@mixin cardHover {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

// 1em = 16px

@mixin respondsive($breakpoint) {
  //500px
  @if $breakpoint == sm {
    @media only screen and (max-width: 31.25em) {
      @content;
    }
  }
  //768px
  @if $breakpoint == md {
    @media only screen and (max-width: 48em) {
      @content;
    }
  }
  //1200px
  @if $breakpoint == lg {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  //1800px or more
  @if $breakpoint == xl {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
